@font-face {
  font-family: 'OpenSans-Bold';
  src: url('./../fonts/OpenSans-Bold.eot');
  src: url('./../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('./../fonts/OpenSans-Bold.woff') format('woff'),
       url('./../fonts/OpenSans-Bold.ttf') format('truetype'),
       url('./../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
       url('./../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url('./../fonts/OpenSans-BoldItalic.eot');
  src: url('./../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
       url('./../fonts/OpenSans-BoldItalic.woff') format('woff'),
       url('./../fonts/OpenSans-BoldItalic.ttf') format('truetype'),
       url('./../fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg'),
       url('./../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('./../fonts/OpenSans-Light.eot');
  src: url('./../fonts/OpenSans-Light.woff2') format('woff2'),
       url('./../fonts/OpenSans-Light.woff') format('woff'),
       url('./../fonts/OpenSans-Light.ttf') format('truetype'),
       url('./../fonts/OpenSans-Light.svg#./../../fonts/OpenSans-Light') format('svg'),
       url('./../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url('./../fonts/OpenSans-LightItalic.eot');
  src: url('./../fonts/OpenSans-LightItalic.woff2') format('woff2'),
       url('./../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight-Italic';
  src: url('./../fonts/OpenSansLight-Italic.woff') format('woff'),
       url('./../fonts/OpenSansLight-Italic.ttf') format('truetype'),
       url('./../fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
