.main-nav {
    height: 80vh;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    .logo_image {
      margin-bottom: $padding;

      @include tablet {
        width: 100%;
      }
    }
    
    .logo {
      @include tablet {
        max-width: 25%;
        margin: $padding*2 $padding 0 0;
      }
      @include desktop {
        max-width: 45%;
        margin: $padding*2.5 $padding*2 0 0; 
      }
    }
    @include tablet {
      flex-direction: row;
      align-items: center;
    }
}

.resized {
  max-width: 50%;
  height: 100%;
  transition: all .9s ease;
} 
